body{
    margin: 0px;
    padding: 0px;
}

.nav{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}

/* margin for navbar! */
.contents{
    margin-top: 10px;
}

.nav a {
  text-decoration: none;
}

.nav > ul{
    /* position: absolute;
    right: 0px; */
}

.nav li {
  list-style-type: decimal;
  display: inline;
  margin-left: 4px;
}
